﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UserReviewTab.ascx.cs" Inherits="Modules_UserReviewTab_UserReviewTab" %>
<div class="cssClassCustomersReviewDetailInformation">
    <asp:Literal ID="ltrDetailsForm2" runat="server" EnableViewState="true" ></asp:Literal>
</div> 