﻿<div style="width:800px;margin:0px auto;">
    <a href="http://www.kiranababu.com"><img alt="" src="http://www.kiranababu.com/Modules/Logo/image/logo_967842.png" /></a>
    <span id="date" style="float:right">
    <script>document.getElementById('date').innerHTML=new Date().toDateString();</script></span>
    <p class="MsoNormal" style="color:black;margin-top: 25px;">Dear %UserFirstName% %UserLastName%,</p>
    <br />
    <p class="MsoNormal" style="color:black">
        <span style="font-family: Arial; color: black; ">
            Thank you for registering on
        </span>
        <span class="apple-converted-space">
            <span style="font-family: Arial,sans-serif; color: #959595">&nbsp;</span>
        </span>
        <a href="http://www.kiranababu.com/" target="_blank">
            <span style="font-family: Arial,sans-serif; color: #1C69B1">http://www.kiranababu.com</span>
        </a>
        <span style="font-family: Arial,sans-serif; color: #959595">.</span>
        Now you can login to kiranababu with the username and password that you used for registration.
    </p>
    <!--<p class="MsoNormal" style="margin-bottom: 0in; margin-bottom: .0001pt">Username: "%Username%"</p>--> <!--<p class="MsoNormal" style="margin-bottom: 0in; margin-bottom: .0001pt">Password:</p>-->
    <p class="MsoNormal" style="margin-bottom: 0in; margin-bottom: .0001pt">&nbsp;</p>
    <p class="MsoNormal">
        <span style="font-size: 10.0pt; line-height: 10px; font-family: Arial,sans-serif; color: black">
            If you forgot your password you can just click on forgot password link at
        </span>
        <a href="http://www.kiranababu.com/sf/sfForgot-Password.aspx" target="_blank">
            <span style="font-size: 10.0pt; line-height: 10px; font-family: Arial,sans-serif; color: #1C69B1">
                http://www.kiranababu.com/sfForgot-Password.aspx
            </span>
        </a>
        <span style="font-size: 10.0pt; line-height: 10px; font-family: Arial,sans-serif; color: black"> and we will send you your password at this email id.</span>
    </p>
    <!--<p class="MsoNormal">
                <span style="font-size: 10.0pt; line-height: 10px; font-family: Arial,sans-serif; color: black">To stay informed about  </span><strong style="background-color: rgb(245, 245, 245);">diamonds4you&nbsp;</strong><span style="font-size: 10.0pt; line-height: 10px; font-family: Arial,sans-serif; color: black">updates and release of new products, please feel free to subscribe to our email newsletter by clicking here &lt;</span><span style="font-size: 10.0pt; line-height: 10px; font-family: Arial,sans-serif; color: #C00000">this link&gt;</span>
            </p>-->
    <p class="MsoNormal">
        <span style="font-size: 10.0pt; line-height: 10px; font-family: Arial,sans-serif; color: black">
            Explore kiranababu now by visiting
        </span>
        <a href="http://www.kiranababu.com/">
            <span style="font-family: Arial,sans-serif;color: #1C69B1;">
                http://www.kiranababu.com/
            </span>
        </a>
        <span style="font-family: Arial,sans-serif; color: #959595">.</span>
        <span style="font-family: Arial; color: black; ">
            We hope you will enjoy our site.
            <o:p></o:p>
        </span>
    </p>
    <p class="MsoNormal" style="margin-bottom: 0in; margin-bottom: .0001pt">
        <span style="font-family: Arial; color: black">
            <o:p>&nbsp;</o:p>
        </span>
    </p>
    <p class="MsoNormal" style="margin-bottom: 0in; margin-bottom: .0001pt">
        <span style="font-family: Arial; color: black">
            Best Regards,
            <o:p></o:p>
        </span>
    </p>
    <p class="MsoNormal" style="margin-bottom: 0in; margin-bottom: .0001pt">
        <strong style="background-color: rgb(245, 245, 245);color: black;">kiranababu</strong>
        <span style="font-family: Arial; color: black">Team<o:p></o:p></span>
    </p>
    <p class="MsoNormal" style="margin-bottom: 0in; margin-bottom: .0001pt">
        <span style="font-family: Arial; color: black">
            <a target="_blank" style="color: #1C69B1;" href="http://www.kiranababu.com">www.kiranababu.com</a>
        </span>
        <span style="font-family: Arial; color: black"><o:p></o:p></span>
    </p>
    <p class="findtext" style="position: relative;display: -webkit-inline-box;">
        Find us on -
        <a href="https://www.facebook.com/Kiranababucom-156356728051618/?fref=ts" target="_blank">
            <img class="fb" src="http://cdn.diamonds4you.com/home/emailimg/facebook.png" alt="" />
        </a>
        <a href="https://twitter.com/Kiranababustore" target="_blank">
            <img class="twit" src="http://cdn.diamonds4you.com/home/emailimg/twitter.png" alt="" />
        </a>
    </p>
    <p class="MsoNormal"><span style="border-top:1px solid #cacaca; font: 10px Arial, Helvetica, sans-serif;">    </span></p>
    <p class="Msonormal" style="border-top:1px solid #cacaca;">
        <span style="font: italic 11px Arial, Helvetica, sans-serif;color:black;">
            This message is confidential and intended for the recipient only. It is not allowed to copy this message, or to make it accessible for third parties. If you are not the intended recipient, please notify the sender by email.
        </span>
    </p>
</div>