﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HeaderTopSelectCity.ascx.cs" Inherits="Modules_SanchiCommerce_HeaderTopSelectCity_HeaderTopSelectCity" %>
<%-- added by jyoti for city selection.--%>

<div class="cssRegisLabel">
    <%-- <asp:DropDownList ID="ddlHeaderCity" runat="server" class="CityChange" Style="margin-bottom: 3px; height: 25px; margin-top: 3px; font-size: 11px;" onchange="CityWiseBanner(this)">
    </asp:DropDownList>--%>
   
    <div class="location">
	<div style="position:relative;">
	<div class="sflocity fa fa-map-marker"  onclick="ShowPopup();" ><span id="CityLoaction" style="padding-left: 5px;">  </span></div>
		<div class="dropdown-menu1" style=" display:none;">
			<p style="margin: 5px 0; color: #666666; font-size: 13px">
				Select your delivery city &amp; location</p>
             
			<div class="ui-widget city-autoselect" style="margin-bottom:10px;">
				<select id="ddlHeaderCity" onchange="DefaultCity();" class="CityChange sfInputbox" style="border-radius: 0;z-index: 51;background: #fff; border-radius: 5px;" >
                </select>
               </div>
			<div class="btn-green">
				<button class="btn btn-default" onclick="DefaultCity();" name="skipandexplore"  type="button">Skip &amp; Explore</button></div>
			</div>
	</div>
</div>

</div>
<div id="dialog" style="font-family: 'Hero'; display: none;">
    <div class="welcome" style="text-align: center; margin-top: 73px;">
        <h2>Welcome To kiranababu.com</h2>
        <h5>One Stop Solution For All Your Grocerry Needs</h5>
    </div>
    <div class="list" style="text-align: center; margin-top: 10px;">
        <h3>Select Your City:
                    <select id="listname" name="cities" style="width: 150px; text-align: center;">
                        <%--<option value="Purnia">Purnia</option>
                        <option value="Patna">Patna</option>
                        <option value="Other cities">Other cities</option>--%>
                    </select></h3>
    </div>
    <div class="leadingButton" style="text-align: center; padding: 10px;">
        <a id="btn" style="background-color: #069; color: #fff; padding: 4px 10px; font-size: 18px;">Next</a>
    </div>
</div>
<div id="dialog2" style="display: none; font-family: Hero; text-align: center; margin-top: 101px;">
    <h2 style="color: #08c; font-size: 18px">Our services are only availabel in Patna and Purnia</h2>
    <div class="leadingButton" style="margin-top: 27px;">
        <a id="btn2" style="background-color: #069; margin-left: 10px; color: #fff; padding: 4px 10px; font-size: 18px;">Next</a>
    </div>
</div>
<%--ended--%>


