.cssClassTabPanelTable table{border:solid 1px #ededed; width:100%; margin-bottom:15px;}
.cssClassTabPanelTable table td{padding:10px 15px; border-bottom:solid 1px #ededed;vertical-align: top; font-size:14px; line-height:20px;}
.cssClassTabPanelTable table td.cssClassTableLeftCol{ width:150px; font-weight:bold;}
.cssClassPopularTagBox{ background:#fff; border:1px solid #ccc;}
.cssClassPopularItemTags {padding: 10px;}
.cssClassRatingdesc {float: left; width: 65%;}
.cssClassRateReview .cssClassItemRatingBox{ background:none; margin:0;}
.cssClassRatingInfo p span,.cssClassRatingReviewDate{ color:#686868;}
#sfBodyContent {
    border-bottom: solid 1px #d2d2d2;
    padding-bottom: 10px;
}
#sfBodyContent .sfContainer {
    border-bottom: solid 1px #eaeaea;
    
}
.responsive-tabs__panel {
   
     border-right: none; 
     border-bottom: none; 
   
    border: solid 1px #eaeaea;
}
.cssClassProductBigPicture {border:solid 1px #eaeaea}
.cssClassMegaCategory {padding-top: 0px!important;}
.smpl-share {border-top:none}